[Unit]
Description=Check Basecamp Notifications
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/waybar-basecamp/waybar-basecamp check

[Install]
WantedBy=default.target
